menu "Board Settings"

config karch
	prompt "Linux Kernel Architecture"
	default ""
	string
	help
	 When compiling a Linux kernel, use this value for the ARCH
	 environment variable.

config kvers
	prompt "Linux Kernel Version"
	default "v3.14.1"
	string
	help
	 When compiling a Linux kernel, use this branch, SHA1, or
	 tag. Ideally this should match the version in the board
	 specific Config.linux file.

config cflags
	prompt "GNU autoconf cflags"
	default "-O2"
	string
	help
	 When compiling a package that uses the GNU autoconf system,
	 use this value for the CFLAGS environment variable.

config ac_target
	prompt "GNU autoconf target"
	default ""
	string
	help
	 When compiling a package that uses the GNU autoconf system,
	 use this value for the --host flag to the configure
	 script. This flag describes the target machine where the
	 programs should run and is sometimes the same as or similar
	 to the name of the cross compiler.

endmenu

config essential
	default y
	bool
	select basefiles
	select manifest
	select startup
