menu "Board Settings"

config karch
	prompt "Linux Kernel Architecture"
	default ""
	string
	help
	 When compiling a Linux kernel, use this value for the ARCH
	 environment variable.

config kvers
	prompt "Linux Kernel Version"
	default "v3.14.33"
	string
	help
	 When compiling a Linux kernel, use this branch, SHA1, or
	 tag. Ideally this should match the version in the board
	 specific Config.linux file.

config kdtb
	prompt "Linux Kernel Device Tree Blob"
	default ""
	string
	help
	 When compiling a Linux kernel, also compile and install this
	 device tree.  Enter the name including the .dtb extension.
	 If your board does not need a device tree, then leave this
	 blank.

config krfs
	prompt "Linux Kernel in the root file system"
	bool
	help
	 When compiling a Linux kernel, install the kernel into the
	 root file system under the /boot directory.

config ipipe_vers
	prompt "I-pipe Linux Kernel Version"
	default "ipipe-3.14"
	string
	help
	 When compiling an I-pipe Linux kernel, use this branch, SHA1,
	 or tag.  Ideally this should match the version in the board
	 specific Config.ipipe file.

config cflags
	prompt "GNU autoconf cflags"
	default "-O2"
	string
	help
	 When compiling a package that uses the GNU autoconf system,
	 use this value for the CFLAGS environment variable.

config ac_target
	prompt "GNU autoconf target"
	default ""
	string
	help
	 When compiling a package that uses the GNU autoconf system,
	 use this value for the --host flag to the configure
	 script. This flag describes the target machine where the
	 programs should run and is sometimes the same as or similar
	 to the name of the cross compiler.

endmenu

config essential
	default y
	bool
	select basefiles
	select manifest
	select startup
