
h1 {
    text-align: center;
}

table {
 margin: 1em 1em 1em 0;
 border: 1px #aaa solid;
 border-collapse: collapse;
}

td {
    padding: 0 5px;
}

th {
    background: #000;
    color: #fff;
}

tr.even {
    background: #ddd;
    color: #000;
}

